
<h1>MUSIC WALL 2016</h1>

<strong><a href="/songs/new">Post a song!</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/logout">Log out</a></strong>
<hr>

<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="songs/<%= song.id %>"><%= song.title %></a></h3>
    <h4>by <%= song.artist %></h4>
    <p>submitted by: <%= song.user.username %> on <%= song.created_at %></p>

    <p>upvotes: <%= song.upvotes.count %></p>
   <!--  <p>Like this song? Vote for it below:</p>

    <form method ="POST" action="/upvote" role="form">
      <div class="form-group">
        <input class="form-control" type="hidden" name="song_id" value="<%= song.id %>">
      </div>
      <div>
        <button type="submit" class="btn btn-default">VOTE!</button>
      </div>
    </form> -->

  </div>
<% end %>


